@import "tailwindcss";
@config '../../tailwind.config.js';

@font-face {
  font-family: Fontin;
  font-style: normal;
  font-weight: 600 900;
  font-display: swap;
  src: url("/fonts/Fontin-Bold.otf") format("opentype");
}
@font-face {
  font-family: Fontin;
  font-style: italic;
  font-weight: 100 500;
  font-display: swap;
  src: url("/fonts/Fontin-Italic.otf") format("opentype");
}
@font-face {
  font-family: Fontin;
  font-style: normal;
  font-weight: 100 500;
  font-display: swap;
  src: url("/fonts/Fontin-Regular.otf") format("opentype");
}
@font-face {
  font-family: Fontin;
  font-style: normal;
  font-weight: 400;
  font-variant: small-caps;
  font-display: swap;
  src: url("/fonts/Fontin-SmallCaps.otf") format("opentype");
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --popover: #ffffff;
    --popover-foreground: #09090b;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --card: #ffffff;
    --card-foreground: #09090b;
    --primary: #18181b;
    --primary-foreground: #fafafa;
    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;
    --accent: #f4f4f5;
    --accent-foreground: #18181b;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --info: #e1f3fe;
    --info-foreground: #0da2e7;
    --success: #d1fae5;
    --success-foreground: #10b77f;
    --warning: #fef3c8;
    --warning-foreground: #f97415;
    --error: #fee1e1;
    --error-foreground: #ef4343;
    --ring: #18181b;
    --radius: 0.5rem;
  }

  .dark,
  [data-kb-theme="dark"] {
    --background: #09090b;
    --foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #44494b;
    --accent-foreground: #fafafa;
    --popover: #09090b;
    --popover-foreground: #fafafa;
    --border: #27272a;
    --input: #27272a;
    --card: #09090b;
    --card-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #18181b;
    --secondary: #191c1f;
    --secondary-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --info: #253037;
    --info-foreground: #65c8f6;
    --success: #203c2d;
    --success-foreground: #3feeb4;
    --warning: #3c3620;
    --warning-foreground: #fa9247;
    --error: #3c2020;
    --error-foreground: #f37272;
    --ring: #d4d4d8;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-secondary text-foreground select-none;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }



*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(from var(--accent) r g b / 0.8);
}
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
