@import 'tailwindcss';

@config '../../tailwind.config.js';

@font-face {
  font-family: Fontin;
  font-style: normal;
  font-weight: 600 900;
  font-display: swap;
  src: url("/fonts/Fontin-Bold.otf") format("otf");
}
@font-face {
  font-family: Fontin;
  font-style: italic;
  font-weight: 100 500;
  font-display: swap;
  src: url("/fonts/Fontin-Italic.otf") format("otf");
}
@font-face {
  font-family: Fontin;
  font-style: normal;
  font-weight: 100 500;
  font-display: swap;
  src: url("/fonts/Fontin-Regular.otf") format("otf");
}
@font-face {
  font-family: Fontin;
  font-style: normal;
  font-weight: 400;
  font-variant: small-caps;
  font-display: swap;
  src: url("/fonts/Fontin-SmallCaps.otf") format("otf");
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --info: 204 94% 94%;
  --info-foreground: 199 89% 48%;
  --success: 149 80% 90%;
  --success-foreground: 160 84% 39%;
  --warning: 48 96% 89%;
  --warning-foreground: 25 95% 53%;
  --error: 0 93% 94%;
  --error-foreground: 0 84% 60%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}

.dark,
[data-kb-theme="dark"] {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 20%;
  --accent-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --info: 204 20% 18%;
  --info-foreground: 199 89% 68%;
  --success: 149 30% 18%;
  --success-foreground: 160 84% 59%;
  --warning: 48 30% 18%;
  --warning-foreground: 25 95% 63%;
  --error: 0 30% 18%;
  --error-foreground: 0 84% 70%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-secondary text-foreground select-none;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  *::-webkit-scrollbar {
    width: 0.5em;
  }

  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: hsl(var(--accent));
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
